/* Start Fonts */
/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v32-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v32-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v32-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* End Fonts */
/* start global rules */
:root {
    --color-main-blue: #2196f3;
    --color-alt-blue: #1787e0;
    --color-black: black;
    --color-white: white;
    --color-light-gray: #fafafa;
    --color-gray: #ececec;
    --color-dark-gray: #666;
    --color-cool-gray: #f1f5f9;
    --color-shadow-black: rgb(0 0 0 / 50%);
    --color-shadow-light-black: rgb(0 0 0 / 10%);
    --transition: .3s;
    --fs-14: .8em;
    --fs-18: 1.1em;
    --fs-20:1.2em;
    --fs-24: 1.5em;
    --fs-32: 2em;
    --fs-44: 3em;
    --font-awesome: "Font Awesome 6 Free";
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
}
ul {
    list-style: none;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}
/* Small */
@media(min-width: 767px) {
    .container {
        width: 750px;
    }
}

/*mediun*/
@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

/* larg */
@media(min-width:1200px) {

    .container {
        width: 1170px;
    }
}
.container {
    padding: 0 15px;
    margin: 0 auto;

}
/* end global rules */

/* Start Header */
header {
    box-shadow: 0 0 10px var(--color-shadow-light-black);
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .logo {
    color: var(--color-main-blue);
    font-size: var(--fs-20);
    font-weight: 700;
}
header .container .links {
    display: flex;
    transition: .3s;
}
header .container .links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: var(--fs-18);
    color: var(--color-black);
    position: relative;
    transition: var(--transition);
    overflow: hidden;
}
header .container .links > li > a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--color-main-blue);
    transition: var(--transition);
    left: -100%;
    bottom: 0;
}
header .container .links > li > a:hover {
    background-color: var(--color-light-gray);
    color: var(--color-main-blue);

}
header .container .links > li > a:hover::before {
    left: 0;
    
}
.menu-clicked {
    display: flex !important;
    flex-direction: column !important;
    position: absolute;
    top: 35px;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--color-white);
    z-index: 100;
}
header .toggle-menu {
    width: 20px;
    height: 30px;
    position: relative;
    display: none;
}
header .toggle-menu .line {
    width: 20px;
    height: 2px;
    background-color: var(--color-black);
    margin: 6px;
    transition: var(--transition);
}
.line-move {
    position: absolute;
    top: 30%;
    left: 0;
    height: 1.5px;
}
.line12-rotate {
    transform: rotate(45deg);
    margin: 0;
}
.line3-rotate {
    transform: rotate(-45deg);
    margin: 0;
}
@media(max-width: 768px) {
    header .container .links {
        display: none;
    }
    header .toggle-menu {
        display: block;
    }
}
/* End Header */
/* Start Hompe Widget */
.home .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 72px);
}
.home .info h2 {
    margin: 0;
    padding: 0;
    text-wrap: wrap;
    font-size: 50px;
    max-width: 450px;
}
.home .info .title {
    margin: 10px 0 5px 0;
    padding: 0;
    font-size: var(--fs-18);
    color: var(--color-dark-gray);
}
.home .info p {
    font-size: var(--fs-14);
    color: var(--color-dark-gray);
}
.home .info i {
    color: gold;
    margin: auto 0;
}
.home .info .contact-button {
    font-weight: bold;
    margin-top: 46px;
    background-color: var(--color-main-blue);
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    display: block;
    width: fit-content;
    font-size: var(--fs-20);
    transition: .3s;
}
.home .info .contact-button:hover {
    background-color: var(--color-alt-blue);
}
.home img {
    max-width: 100%;
    max-height: 100%;
    height: 500px;
    border-radius: 22% 78% 57% 43% / 48% 67% 33% 52%;
    border: 2px solid var(--color-black);
    animation: around-radius infinite 4s linear;
    position: relative;
}
@media(max-width: 768px) {
    .home .container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .home .info {
        width: 100%;
        text-align: center;
    }
    .home .info h2 {
        font-size: 30px;
        max-width: 100%;
    }
    .home .info .contact-button {
        margin: 20px auto 0 auto;
    }
    .home img {
        margin-bottom: 15px;
        height: 300px;
    }
}
/* End Home Widget */
/* Start Timeline Widget */
.main-title {
    font-size: var(--fs-24);
    font-weight: bold;
    padding: 20px 30px;
    margin: 50px auto 50px auto;
    color: var(--color-black);
    background-color: var(--color-white);
    border: 2px solid var(--color-black);
    width: fit-content;
    position: relative;
    cursor: pointer;
    transition: var(--transition);
    text-transform: uppercase;
    z-index: 1;
}
.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    top: calc(50%);
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-main-blue);
    transition: var(--transition);
    z-index: -1;
}
.main-title::before {
    left: -40px;
}
.main-title::after {
    right: -40px;
}
.main-title:hover::before {
    left: 0;
}
.main-title:hover::after {
    right: 0;
}
.main-title:hover::before,
.main-title:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 0;
}
.main-title:hover {
    color: var(--color-white);
    border-color: var(--color-white);
}

.timeline table {
    width: 100%;
    border-spacing: 0;
}
.timeline table td {
    padding: 15px;
    color: var(--color-black);
}
.timeline table thead td {
    background-color: var(--color-gray);
    font-weight: bold;
    border-color: var(--color-gray);
}
.timeline table tbody td {
    border-bottom: 1px solid var(--color-gray);
    border-left: 1px solid var(--color-gray);
}
.timeline table tr {
    display: table-row;
}
.timeline table tbody tr td:last-child {
    border: 1px solid var(--color-gray);
}
.timeline table tbody td .blank {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 2px;
    background-color: var(--color-black);
}
.timeline table tbody tr:hover td {
    background-color: var(--color-light-gray);
}
@media(max-width: 767px) {
    .timeline .responsive-table {
        overflow-x: auto;
    }
}
/* End Timeline Widget */
/* Start Achivements Widget */
.achivements .collections {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: var(--color-white);
    box-shadow: 0px 0px 12px 5px var(--color-shadow-light-black);
    border-radius: 6px;
    text-align: center;
    margin: 0 auto;
    gap: 20px;
}
.achivements .collections .line {
    width: 2px;
    border-radius: 2px;
    background-color: var(--color-gray);
}
.achivements .collections i {
    color: var(--color-main-blue);
    font-size: var(--fs-32);
}
.achivements .collections .num {
    font-size: var(--fs-44);
    margin: 7px 0 3px 0;
    color: var(--color-black);
}
.achivements .collections p {
    color: var(--color-dark-gray);
}
@media(max-width: 768px) {
    .achivements .collections {
        flex-direction: column;
    }
    .achivements .collections .line {
        width: 100%;
        height: 2px;
    }
}
/* End Achivements Widget */
/* Start About Me Section */
.about .container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.about .image img {
    border-radius: 50px;
}
.about .description {
    padding-top : 10px;
}
.about .description h3 {
    font-size: var(--fs-32);
    padding-top: 10px;
}
.about .description h3 .highlight {
    text-decoration: underline;
    color: var(--color-main-blue);
}
.about .description p {
    margin-top: 10px;
    font-size: var(--fs-20);
    line-height: 1.5;
    color:var(--color-dark-gray);
    width: 350px;
}
.about .description .loc i {
    font-size: var(--fs-18);
}

.about .description .loc .location {
    margin-left: auto;
    display: block;
    width: fit-content;
}
.about .description h5 {
    width: fit-content;
    margin: 20px auto;
    font-size: var(--fs-24);
    color: var(--color-black);
    position: relative;
}
.about .description h5::before,
.about .description h5::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 60px;
    height: 2px;
    background-color: var(--color-black);
}
.about .description h5::before {
    left: -71px;
}
.about .description h5::after {
    right: -71px;
}
.about .description .social {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.about .description .social i {
    font-size: var(--fs-32);
    padding: 10px;
    border: 3px solid var(--color-black);
    border-radius: 50%;
    color: var(--color-black);
    transition: var(--transition);
}
.about .description .social i:hover {
    color: var(--color-main-blue);
    font-size: var(--fs-44);
}
@media(max-width: 768px) {
    .about .container {
        text-align: center;
        flex-direction: column;
    }
    .about .image img {
        width: 250px;
        height: auto;
    }
    .about .description p {
        margin: 10px auto 0 auto;
    }
    .about .description .loc .location {
        width: 100%;
    }
}
/* End About Me Section */
/* Start Animation */
@keyframes around-radius {
    0% {
        border-radius: 22% 78% 57% 43% / 48% 67% 33% 52%;
        top: 0;
    }
    50% {
        border-radius: 75% 25% 84% 16% / 48% 87% 13% 52%;
        top: -35px;
    }
    80% {
        border-radius: 16% 84% 15% 85% / 69% 51% 49% 31%;
    }
    100% {
        top: 0px;
    }
}
/* End Animation */